absl-py
annotated-types
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
attrs
audioread
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
ffmpeg
filelock
flatbuffers
fonttools
fqdn
fsspec
gast
gdown @ git+https://github.com/wkentaro/gdown.git@5c7507f02718048899b85d4010a6ed93316cbf27
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
inflect
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keras
kiwisolver
lazy_loader
libclang
librosa
llvmlite
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
msgpack
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numba
numpy
oauthlib
opt-einsum
overrides
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
playsound
pooch
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
pyrsistent
PySocks
python-dateutil
python-json-logger
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
resampy
rfc3339-validator
rfc3986-validator
rsa
safetensors
scikit-learn
scipy
Send2Trash
six
sniffio
sounddevice
soundfile
soupsieve
soxr
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow>=2.14,<2.15
tensorflow-estimator
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
torch
torchaudio
tornado
tqdm
traitlets
transformers
typing_extensions
Unidecode
uri-template
urllib3
wavio
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
